data/
sandyaq/build
python_wrappers/build
processor_config/
.vscode/
.venv/
__pycache__/
*.pyc
python_wrappers/test_output/
python_wrappers/notebooks/test_output/
python_wrappers/run_list/
python_wrappers/archived_run_list*
*.png
softlink_to_data
*process_config.json
*log*
*.bin
*.json
*.csv
run_list/
archived_run_list/

# But include abc.csv
# !run_info_single_channel.csv