data/
sandyaq/build
processor_config/
.vscode/
.venv/
__pycache__/
*.pyc
*.png
*process_config.json
*.bin
*.json
*log*

python_wrappers/test_output/
python_wrappers/build
python_wrappers/notebooks/test_output/
python_wrappers/run_list/
python_wrappers/archived_run_list*
python_wrappers/notebooks/.ipynb_checkpoints/

# ignoring subsequent changes to this file
/home/ws/sk6801/sw/UCSD_analysis/SandyAQ/python_wrappers/config/absolute_path_config.ini  

softlink_to_data
run_list/
archived_run_list/

*.csv
# But include abc.csv
# !run_info_single_channel.csv
!logger.py
